<meta charset="utf-8">
<title>components-lib demo</title>
<script src="./components-lib.umd.js"></script>

<link rel="stylesheet" href="./components-lib.css">


<script>
console.log(components-lib)
</script>
